<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Facturacion_Restaurantes.Properties.Settings.RestaurantesConnectionString"
            connectionString="Data Source=DESKTOP-JBS2MU8\PAVILION;Initial Catalog=Restaurantes;User ID=sa;Password=Ceavlaeb747."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>